@import url('https://fonts.googleapis.com/css2?family=Cormorant Upright&display=swap');
/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:black;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DCCA87;
    height: 25%;
  
  }
  ::selection {
    color: white;
    background: #DCCA87;
  }
nav
{
    background-color: black;
    border-bottom: #DCCA87 3px solid;
}
.nav-bar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: black;
    padding: 15px 25px;
}
.logo img {width: 120px; }
.menu {display: flex; width: 50%; margin: auto;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #DCCA87;
    transition: 0.3s ease-in-out;
}
.menu li a:hover{color: #DCCA87;}
.menu li a:hover:after {width: 100%; }
.open-menu , .close-menu {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 710px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: black;
        transition: all 0.4s linear;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    .nav-bar
    {
        padding:  10px 0px;
    }
    #myBtn
    {
        bottom: 5px !important; 
        right: 5px !important;
    }
}




img
{
    
    transition: 0.6s;
}

img:hover
{
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
}
i
{
    transition: 0.4s;

}
i:hover{
    cursor: pointer;
    color: #DCCA87 !important;
    transition: 0.6s;
    transform: scale(1.2);
}
@media only screen and (max-width: 600px) {
    .image
    {
        display: none;
    } 
    .content
    {
        text-align: center !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .image
    {
        display: none;
    } 
    .content
    {
        text-align: center !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
      .image
    {
        display: none;
    } 
    .content
    {
        text-align: center !important;
    }
    .content h1
    {
        font-size: 70px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .image
    {
        display: none;
    } 
    .content
    {
        text-align: center !important;
    }
}
.bg-g
{
    background-image: url('../images/G.b571eb82e589ec305ec9.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo
{
    width: 120px;
}
body
{
    font-family: "Cormorant Upright";

}


.main-color
{
    color: #DCCA87 !important;
}

.h1custom
{
    font-size: 80px !important;
}

#about , #services , #contact
{
    background-image: url("../images/bg.3d421b1b5682e1b67deb.png");
    background-size: cover;
    background-position: center;
    background-origin: center;
}








#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    z-index: 99999999; 
    border: none; 
    outline: none;
    background-color: #DCCA87; 
    color: #000; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 15px; 
    font-size: 25px;
  }
  
  #myBtn i:hover {
    color: black !important;
  }

body
{
    overflow: hidden;
}

  #loading
  {
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      z-index: 99999999999999999;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .sk-cube-grid {
      width: 80px;
      height: 80px;
      margin: 100px auto;
    }
    
    .sk-cube-grid .sk-cube {
      width: 33%;
      height: 33%;
      background-color: #DCCA87;
      float: left;
      -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
              animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
    }
    .sk-cube-grid .sk-cube1 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube2 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube3 {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .sk-cube-grid .sk-cube4 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube5 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube6 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube7 {
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .sk-cube-grid .sk-cube8 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube9 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    
    @-webkit-keyframes sk-cubeGridScaleDelay {
      0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
      } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1); 
      }
    }
    
    @keyframes sk-cubeGridScaleDelay {
      0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
      } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
      } 
    }